#grid {
  display: grid;
  grid-template-columns: repeat(20, 20px); 
  grid-template-rows: repeat(20, 20px);    
  gap: 1px; 
}

.cell {
  width: 20px;
  height: 20px; 
  background-color: #ccc; 
  border: 1px solid #fff; 
}

.snake {
  background-color: green; 
}

.apple {
  background-color: red; 
}

.scoreBoard {
  display: none;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgb(203, 255, 98);
  border: 2px solid black;
  width: fit-content;
}

.playersScore {
  list-style: none;
  padding: 0;
  margin: 0;
}


.playersScore li {
  padding: 0.5rem;
}


.playersScore li:not(:last-of-type) {
  border-bottom: 1px solid black;
}
